// Body
$body-bg: #034872;

// Typography
$font-family-sans-serif: "Montserrat Alternates", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$morado-bg: #3F1731;
$celeste-bg: #034872;
$azul-bg: #044058;
$pastel-bg: #F2C6A1;
$rosa-bg: #D87E7E;
$white-cl: #FFFFFF;

$size-icon: 40px;

